<div class="container">
  <ngb-tabset (tabChange)="switchView($event)">
    <ngb-tab id="jsonTab" title="json view" (click)="convertToJson()">
      <ng-template ngbTabContent>
        <json-editor [locale]="locale" [languages]="languages"></json-editor>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="tableTab" title="table view" (click)="convertToTable()">
      <ng-template ngbTabContent>
        <table-editor [tables]="tables" [languages]="languages"></table-editor>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
